sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"FRQSHQ+SimSun";
	src:url("ae138c26-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "FRQSHQ+SimSun", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"GBWKKI+SimSun";
	src:url("b81c91fd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.166667em;
	font-family: "GBWKKI+SimSun";
	color: #000000;
}
.stl_11 {
	font-size: 1.166667em;
	font-family: "FRQSHQ+SimSun", "Times New Roman";
	color: #000000;
}
.stl_12 {
	letter-spacing: -0.1403em;
}

.ie .stl_12 {
	letter-spacing: -2.6187px;
}
@font-face {
	font-family:"MJANTM+FangSong";
	src:url("9593e30b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1.166667em;
	font-family: "MJANTM+FangSong", "Times New Roman";
	color: #000000;
}
.stl_14 {
	font-size: 0.875em;
	font-family: "FRQSHQ+SimSun", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"LWGPUF+SimSun";
	src:url("345b6e1c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1.166667em;
	font-family: "LWGPUF+SimSun";
	color: #000000;
}
.stl_16 {
	letter-spacing: 0.25em;
}

.ie .stl_16 {
	letter-spacing: 4.6667px;
}
.stl_17 {
	letter-spacing: 0.0151em;
}

.ie .stl_17 {
	letter-spacing: 0.282px;
}
.stl_18 {
	font-size: 1em;
	font-family: "FRQSHQ+SimSun", "Times New Roman";
	color: #000000;
}
